<br>
<br>
<h2><%= @user.username %>'s House</h2>
<p><%= link_to "Edit House", edit_user_houses_path(@user), :id =>'link'%></p>

<h3>Location</h3>
<%= @house.location.address %><br>
<%= "#{@house.location.city}, #{@house.location.state}, #{@house.location.zip} "%><br>

<%= image_tag @house.avatar.url %>

<h3>Rent</h3>
Rent: $<%= @house.rent %>
Deposit: $<%= @house.deposit %>

<h3>Description</h3>
<%= @house.description %>

<h3>More Details</h3>
<%= "#{@house.num_beds} bedrooms, #{@house.num_baths} bathrooms" %><br>
<%= if @house.dog then "Dogs are allowed" else "Dogs are not allowed" end %><br>
<%= if @house.cat then "Cats are allowed" else "Cats are not allowed" end %><br>
<%= if @house.smoking then "Smoking is allowed" else "Smoking isn't allowed" end %><br>
<%= if @house.background_check then "A background check is required" else "A background check isn't required" end %><br>