<div class="search_result">
	<%= link_to user.username, user_path(user), :id => 'name_tag' %><br>
	<%= image_tag user.avatar.url(:thumb), :id => "search_pic" %>

		<p id="score"><%= compatibility %>%</p>

	<div id="age_gender">
	<%= user.age %>
	<%= user.gender %>
	<% if user.house %>
		<%= render :partial => 'shared/house', :locals => { :house => user.house } %>
	<% else %>
		<%= render :partial => 'summary', :locals => { :user => user } %>
	<% end %>
</div>

</div>