<div id="user_password_edit">
	<h3>Update Account Settings</h3>
  <%= form_for @user do |f| %>
  <%= render :partial => 'shared/errors', :locals => {:object => @user}, :layout => false %>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email, placeholder: "email" %><br>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password, placeholder: "password" %><br>
  <%= f.label :password, "Password (Again)" %>
  <%= f.password_field :password_confirmation, placeholder: "password_confirmation" %><br>
  <%= f.submit "Update Account Setings" %>
  <% end %>
</div>
