
<div class="flash">
  <%= flash[:error] %>
</div>
<%= form_tag users_search_path, :method => :get, :remote => true, id: 'get_users' do %>
<fieldset>
<legend>Search for Roommates!</legend>
  <div id="search_options">
   <%= link_to "who don't have a room", users_search_no_house_path, :remote => true, :id => 'search_no_house_button', :class => 'filter_option' %>
    <% if !current_user.has_house %>
      <%= link_to "who have a room", users_search_house_path, :remote => true, :id => 'search_house_button', :class => 'filter_option' %><br>
    <% end %>
  </div>
  <div id="search_fields">
  <%= render partial: 'search_no_house' %>
  </div>
  <%= submit_tag "Find a Roommate!" %>
<% end %>
</fieldset>
<%= render :partial => 'index', :locals => { :users => @top_users } %>

