<h2>Search for Roommates!</h2>

<%= flash[:error] %>

<%= form_tag users_search_path, :method => :get, :remote => true, id: 'get_users' do %>
  <%= select_tag :gender, options_for_select([['Male','M'], ['Female','F']]), :prompt => 'Select' %>
  <%= number_field_tag :age_min %>
  <%= number_field_tag :age_max %>
  <%= submit_tag "Filter" %>
<% end %>

<div id="users"></div>


