
<div class="flash">
	<%= flash[:error] %>
</div>
<%= form_tag users_search_path, :method => :get, :remote => true, id: 'get_users' do %>
<fieldset>
<legend>Search for Roommates!</legend>
  Gender:<%= select_tag :gender, options_for_select([['Male','M'], ['Female','F']]), :prompt => 'Select' %>
  Age:<%= number_field_tag :age_min, "18", class: 'number_field' %> -
  <%= number_field_tag :age_max, '90', class: 'number_field' %>
  Neighborhood: <%= text_field_tag :neighborhood,'Neighborhood' %>
  <%= text_field_tag :city,'City' %><br>
  Price: <%= number_field_tag :price_min, '600' %> - 
  <%= number_field_tag :price_max, '1000' %>
  <%= submit_tag "filter" %>
<% end %>
</fieldset>
<div id="users">
	<%= render :partial => 'index', :locals => { :users => @top_users } %>
</div>


