

<%= flash[:error] %>

<%= form_tag users_search_path, :method => :get, :remote => true, id: 'get_users' do %>

  <%= select_tag :gender, options_for_select([['Male','M'], ['Female','F']]), :prompt => 'Select' %>
  <%= number_field_tag :age_min, '18', class: 'number_field' %>
  <%= number_field_tag :age_max, '80', class: 'number_field' %>
  <%= text_field_tag :neighborhood,'Neighborhood' %>
  <%= text_field_tag :city,'City' %>
  <%= number_field_tag :price_min, '600', class: 'number_field' %>
  <%= number_field_tag :age_max, '1000', class: 'number_field' %>
<p id='name'>Search for Roommates!</p>
  <%= submit_tag "Filter" %>
<% end %>

<div id="users">
	<%= render :partial => 'index', :locals => { :users => @top_users } %>
</div>


