
<div class="flash">
	<%= flash[:error] %>
</div>
<%= form_tag users_search_path, :method => :get, :remote => true, id: 'get_users' do %>
<fieldset>
<legend>Search for Roommates!</legend>
 <%= link_to "By Age and Gender", users_search_no_house_path, :remote => true, :id => 'filter_button' %>
  <% if !current_user.has_house %>
    <%= link_to "By Rent and Location", users_search_house_path, :remote => true, :id => 'filter_button' %><br>
  <% end %>
  <div id="search_fields">
  <%= render partial: 'search_no_house' %>
  </div>
  <%= submit_tag "filter" %>
<% end %>
</fieldset>
<div id="users">
	<%= render :partial => 'index', :locals => { :users => @top_users } %>
</div>


