<%= render :partial => 'shared/user_info' %>

<% if @user == current_user %>

  <div id = "survey_info">
    <h1>Your Surveys</h1>
    <div id="blank"><%= render :partial => 'show_progress' %></div>
    <div id="new_survey"></div>
    <%= render :partial => 'submissions/index', locals: { user: @user }  %>
  </div>
<% end %>

<script type="text/javascript">
  bar = new Bar(parseInt("<%=current_user.submissions.length%>"), parseInt("<%=Survey.all.size%>"));
</script>