<h2><%= @user.username %>'s Profile</h2>

<%= render :partial => 'shared/user_info' %>
<%= render :partial => 'shared/user_picture' %>

<br>

<% if @user == current_user %>
	<%= link_to "Edit Profile", edit_user_path(@user) %>
	<%= link_to "Change Password", user_password_path(@user) %>
<% end %>
