<h2><%= @user.username %>'s Profile</h2>

<%= render :partial => 'shared/user_info' %>
<%= render :partial => 'shared/user_picture' %>

<% if @user == current_user %>
  <%= link_to "Take Survey", new_submission_path, :remote => true, :method => 'get', :id => 'new_survey_button' %>
  <div id="new_survey"></div>
  <%= render :partial => 'submissions/index', locals: { user: @user }  %>
	<%= link_to "Edit Profile", edit_user_path(@user) %>
	<%= link_to "Change Password", user_password_path(@user) %>
<% end %>
