<div id="profile_container">
  <div class="profile_nav">
    <% if @user == current_user %>
      <%= link_to "Edit Profile", edit_user_path(@user), :id => 'pro_nav' %>
      <%= link_to "Account Settings", user_password_path(@user), :id => 'pro_nav' %>
    <% end %>
    <% if @user.has_house %>
      <% if current_user == @user %>
        <% if @user.house %>
          <%= link_to "Your House", user_houses_path(@user),:id => 'pro_nav' %>
        <% else %>
          <%= link_to "Add House", new_user_houses_path(@user),:id => 'pro_nav' %>
        <% end %>
      <% else %>
        <% if @user.house %>
          <%= link_to "#{@user.username}'s House", user_houses_path(@user), :id => 'pro_nav' %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id="profile_header">
    <h1><%= @user.username %>'s Profile</h1>
    <%= image_tag @user.avatar.url, :id => "pro_pic" %>

    <div class="basic_info">
      <p class = "q_title", id="basic">The Basics</p>
      <p class="response">Username: <%= @user.username %></p>
      <p class="response">Email: <%= @user.email %></p>
      <p class="response">Gender: <%= @user.gender %></p>
      <p class="response">Age: <%= @user.age %></p>
      <% if !@user.has_house && @user.rent_pref_min && @user.rent_pref_max %>
        <p class="response">Rent Preferences: $<%=number_with_delimiter(@user.rent_pref_min, delimiter:",")%> to $<%=number_with_delimiter(@user.rent_pref_max, delimiter:",")%></p>
      <% end %>
      <p class = "q_title">Summary</p>
      <p class="response"><%= @user.summary %></p>
    </div>

    <div id="more_info">
      <div id="info_1">
        <p class="q_title">On the weekend you can find me:</p>
        <p class="response">  <%= @user.weekend_activity %></p>
      </div>

      <div id="info_2">
        <p class="q_title">Food preference:</p>
        <p class="response"><%= @user.food_preferences %></p>
      </div>

      <div id="info_3">
        <p class="q_title">Pet preference:</p>
        <p class="response"><%= @user.pets %></p>
      </div>
    </div>

    <div id="best_worst">
      <div class="best">
        <p class="q_title">Best Roommate Experience</p>
        <p class="quotes">"<%= @user.best_roommate %>"</p>
      </div>
      <div class="worst">
        <p class="q_title">Worst Roommate Experience</p>
        <p class="quotes">"<%= @user.worst_roommate %>"</p>
      </div>
    </div>
  </div>
  
  <% if @user == current_user %>
    <div id = "survey_info">
      <h1>Your Surveys</h1>        
      <div id="blank"><%= render :partial => 'show_progress' %></div>
      <div id="new_survey"></div>
      <%= render :partial => 'submissions/index', locals: { user: @user }  %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  bar = new Bar(parseInt("<%=current_user.submissions.length%>"), parseInt("<%=Survey.all.size%>"));
</script>