<div id="user_info_edit" class="profile_edit">
  <p id="name">Update Personal Information</p>
  <%= form_for @user do |f| %>
    <%= flash[:error] %><br>
    <%= f.label :pets, "I own and/or am happy to live with:" %><br>
    <%= f.select :pets, options_for_select(["Dogs", "Cats", "Any", "No Pets"]) %><br>
    <%= f.label :weekend_activity, "On the weekend you'd find me:" %><br>
    <%= f.select :weekend_activity, options_for_select(["At home reading or chillin'", "Outside hiking or climbing"]) %><br>
    <%= f.label :food_preferences, "My diet is:" %><br>
    <%= f.select :food_preferences, options_for_select(["Vegan", "Vegetarian","I like all food"])%><br>
    <%= f.label :summary, "Summary" %><br>
    <%= f.text_area :summary, placeholder: "Tell us something about yourself.." %><br>
    <%= f.label :best_roommate, "Tell us your best roommate experience:" %><br>
    <%= f.text_area :best_roommate  %><br>
    <%= f.label :worst_roommate, "Tell us your worst roommate experience:" %><br>
    <%= f.text_area :worst_roommate %><br>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, placeholder: "email" %><br>
  <%= f.submit %>
  <% end %>
</div>
