

	<div id="profile_container">
		<div class="profile_nav">
		<%= link_to "Edit Profile", edit_user_path(@user) %>
		<%= link_to "Change Password", user_password_path(@user) %>
		
		<% if @user.has_house %>
			<% if @user.house %>
				<%= link_to "Your House", user_house_path(@user) %>
			<% else %>
				<%= link_to "Add House", new_user_house_path(@user) %>
			<% end %>
		<% end %>
	</div>
		<div id="profile_header">

			<h1><%= @user.username %>'s Profile</h1>
			<%= image_tag @user.avatar.url, :id => "pro_pic" %>
			<div class="basic_info">
				<p class="response">Username: <%= @user.username %></p>
				<p class="response">Email: <%= @user.email %></p>
				<p class="response">Gender: <%= @user.gender %></p>
				<p class="response">Birthday: <%= @user.birthday %></p>
				<p class="response"><%= @user.summary %></p>
				</div>

				<div id="more_info"
				<div id="info_1">
					<p class="q_title">On the weekend you can find me:</p>
					<p class="response">	<%= @user.weekend_activity %></p>
				</div>

				<div id="info_2">
					<p class="q_title">Food preference:</p>
					<p class="response"><%= @user.food_preferences %></p>
				</div>

				<div id="info_3">
					<p class="q_title">Pet preference:</p>
					<p class="response"><%= @user.pets %></p>
				</div>

			</div>

			<div id="best_worst">

				<div class="best">
					<p class="q_title">Best Roommate Experience</p>
					<p class="quotes">"<%= @user.best_roommate %>"</p>
				</div>

				<div class="worst">
					<p class="q_title">Worst Roommate Experience</p>
					<p class="quotes">"<%= @user.worst_roommate %>"</p>
				</div>

			</div>



