<%= form_tag submissions_path(@submission), :remote => true, :id => 'create_submission' do %>
  <%= survey.title %>
  <%= hidden_field_tag :survey_id, survey.id %>
  <% @submission.errors.full_messages %>
  <%= fields_for :responses do |c| %>
    <div>
      <%= survey.me_question.body %>
      <ul>
        <% survey.me_question.answers.each do |answer|%> 
          <li>
            <%= c.radio_button survey.me_question.id, answer.id %>
            <%= answer.text %>
          </li>
        <% end %>
      </ul>
      
    </div>
    <div>
      <%= survey.roommate_question.body %>
      <ul>
        <% survey.roommate_question.answers.each do |answer|%> 
          <li>
            <%= c.radio_button survey.roommate_question.id, answer.id %>
            <%= answer.text %>
          </li>
      </ul>
      
      <% end %>
    </div>
    <div>
      <%= survey.importance_question.body %>
      <% survey.importance_question.answers.each do |answer|%> 
        <li>
          <%= c.radio_button survey.importance_question.id, answer.id %>
          <%= answer.text %>
        </li>
      <% end %>
    </div>
  <% end %>
  <%= submit_tag %>
<% end %>

