<%= form_tag submissions_path, :remote => true, :id => 'create_submission' do %>
  <h1><%= survey.title %></h1><br>
  <%= flash[:error] if flash[:error] %>
  <%= hidden_field_tag :survey_id, survey.id %>
  <%= fields_for :responses do |c| %>
    <div>
      <%= survey.me_question.body %>
      <ul>
        <% survey.me_question.answers.each do |answer|%>
          <li>
            <%= c.radio_button survey.me_question.id, answer.id %>
            <%= answer.text %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= survey.roommate_question.body %>
      <ul>
        <% survey.roommate_question.answers.each do |answer|%>
          <li>
            <%= c.radio_button survey.roommate_question.id, answer.id %>
            <%= answer.text %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= survey.importance_question.body %>
      <ul>
      <% survey.importance_question.answers.each do |answer|%>
        <li>
          <%= c.radio_button survey.importance_question.id, answer.id %>
          <%= answer.text %>
        </li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <%= submit_tag %>
<% end %>
